/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 30;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222;
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  /* Estilos para enlaces */
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Estilos para listas */
  
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Estilos para tablas */
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  /* Estilos para formularios */
  
  input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #23527c;
  }
  
  /* Estilos para otros elementos */
  
  blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 10px;
    margin: 20px 0;
  }
  
  code {
    font-family: monospace;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 5px;
  }
  
  /* Estilos para la página actual */
  
  .prueba {
    text-align: center;
  }
  
  .prueba img {
    width: 250px;
    height: auto;
    margin: 20px auto;
  }