<h2>Registro:</h2>
<hr>
<form action="/api/sessions/registro" method="post">
    {{#if error}}
        <div style="font-weight: bolder; color: red;">{{error}}</div>
    {{/if}}

    <input type="text" name="nombre" placeholder="nombre">
    <input type="email" name="email" placeholder="correo electrónico">
    <input type="password" name="password" placeholder="contraseña">
    <input type="text" name="web" value="web" hidden>

    <br><br>
    <input type="submit" value="Registrar">
</form>
<br><br>
{{>menu}}