<h2>Ingrese mail para filtrar usuarios:</h2>

<form action="/usuarios" method="post">
    <input type="text" placeholder="email" name="email">
    <input type="submit" value="Ingresar">
</form>

<br><br>
<a href="/">Home Page</a>