<h2>Bienvenidos...!!!</h2>

<div id="saludo">{{nombre}}</div>

<form action="/saludo2" method="post">
    <input type="text" name="nombre" placeholder="ingrese su nombre">
    <input type="submit" value="Ingresar">
</form>

<br><br>
<a href="/">Home Page</a>