<h2>Chat con Websockets</h2>
<hr>
<input type="text" id="mensaje">
<div id="mensajes"></div>

<br><br>
<a href="/">Home Page</a>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>