<ul>
    <li>
        <a href="/">Home Page</a>
    </li>
    {{#if login}}
        <li>
            <a href="/perfil">Perfil</a>
        </li>
        <li>
            <a href="/api/sessions/logout">Logout</a>
        </li>
    {{else}}
        <li>
            <a href="/registro">Registro</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    {{/if}}
</ul>